<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="CONSOLE"/>
        </Root>
        <logger name="io.netty.handler.ssl.SslHandler" level="ERROR" />
        <logger name="com.quorum.netty.VotingChannelMgr" level="ERROR" />
        <logger name="com.quorum.netty.NettyChannelMgr" level="ERROR" />
        <logger name="com.quorum.netty.VotingClientChannel" level="ERROR" />
        <logger name="com.quorum.netty.VotingServerChannel" level="ERROR" />
        <logger name="com.quorum.netty.VotingChannel" level="ERROR" />
        <logger name="com.quorum.netty.NettyChannel" level="ERROR" />
        <logger name="com.quorum.nio.SelectorDispatch" level="ERROR" />
        <logger name="com.quorum.FastLeaderElectionV2" level="ERROR" />
        <logger name="com.quorum.helpers.FastLeaderElection" level="ERROR" />
    </Loggers>
</Configuration>